.App {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh; /* Full viewport height to center vertically */
}

.App-header {
  text-align: center; /* Center text within the header if necessary */
}

.App-logo {
  width: 100px;
  height: 100px;
}
