.App {
  border: 2px solid red;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  border: 2px solid green;
  transition: margin-left 0.3s ease;
}

.App-header {
  text-align: center;
}

.App-logo {
  width: 100px;
  height: 100px;
}

.App-sidebar-open {
  margin-left: 250px;
}

.App-sidebar-close {
  margin-left: 88px;
}
